<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>PcBuilder.in</h1>
        </div>
        <input class="search" type="text" placeholder="Search Here">
        <div class = contact>
            <p>Phone img</p>
            <p>isnta image</p>
        </div>
        
    </header>
</body>
</html>